<%= form_for(@tweet) do |f| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
      <% @tweet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Ciudad %><br>
    <%= f.text_field :source %>
  </div>
  <div class="field">
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br>
    <%= f.text_field :created_at %>
  </div>
  <div class="field">
    <%= f.label :seguidores %><br>
    <%= f.text_field :favorite_count %>
  </div>
  <div class="field">
    <%= f.label :idioma %><br>
    <%= f.text_field :lang %>
  </div>
  <div class="field">
    <%= f.label :etiqueta %><br>
    <%= f.text_field :etiqueta %>
  </div>
    <div class="field">
    <%= f.label :porcentaje %><br>
    <%= f.text_field :porcentaje %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
